<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    <!-- Bootstrap styles -->
    <link href="./css/bootstrap.css" rel="stylesheet">
    <!-- Local Stylesheet -->
    <link href="./css/styles.css" rel="stylesheet">   

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
   
  </head>
  <body>

    {{ content }}
    
    <!-- Scripts --> 
    <script src="./js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="./js/bootstrap.bundle.min.js"></script><!-- Bootstrap framework -->

    <script>
      document.addEventListener('play', function(e) {
        var audios = document.getElementsByTagName('audio');

        for (var i = 0, len = audios.length; i < len; i++) {
          if (audios[i] != e.target) {
              audios[i].pause();
          }
        }
      }, true);

      $('button').on('click', function(){
        $('button').removeClass('selected');
        $(this).addClass('selected');
      });
    </script>


  </body>
</html>
